body, html{
  height:100%;
}
body{
  margin: 0px;
  /*background-color:#444;*/
  background-image: url("src/backgroundScenery.jpg");
  background-size: cover;
  
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  position:absolute;
  height: 276px;
  width: 299px;
  background: url('src/tinkerbell.png');
  transform: scale(0.5);
  
}
.mydancer{
  height: 420px;
  width: 420px;
  background: url('src/raindrop.png');
  transform: scale(0.5);
  position:absolute;
}
.pongdancer{ /*2474 × 1760*/
  height: 308px;
  width: 600px;
  background: url('src/bat.png');
  transform: scale(0.2);
  position:absolute;
}
.pow{
  visibility: hidden;
}
/*.enhance{
  
}*/
/*.dancer:hover{
  transform: scale(2); 
  border:10px solid yellow;
};*/